body {
	margin-top: 1em;
}

h1 {
	text-align: center;
}

/* Timeline */

#timeline {
	height: 100px;
	width: 820px;
	margin: auto;
}

#timeline svg {
	font: 11px sans-serif;
	width: 100%;
}

path {
	fill: steelblue;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.brush .extent {
	stroke: #fff;
	fill-opacity: .125;
	shape-rendering: crispEdges;
}

/* Hourly distribution */

#active-times {
	height: 150px;
	width: 760px;
	margin: auto;
}

#active-times svg {
	font: 11px sans-serif;
	width: 100%;
}

.activity-heading {
	font-weight: bold;
	font-size: 1.3em;
	fill: #336;
}

.hourly rect {
	shape-rendering: crispEdges;
}

.week rect {
	stroke: none;
	shape-rendering: crispEdges;
}

.underline {
	stroke: #000;
}

/* Karma */

#karma {
	height: 150px;
	width: 800px;
	margin: auto;
}

#karma svg {
	font: 11px sans-serif;
	width: 100%;
}

.line {
	fill: none;
	stroke: steelblue;
	stroke-width: 1.5px;
}

/* Top URLs */

#top-urls {
	margin: 1em;
}

h2 {
	text-align: center;
	margin: .75em 0 0;
	font-size: 1.5em;
}

#top-urls table {
	margin: auto;
}

#top-urls th {
	font-weight: bold;
	border-bottom: 1px solid #ccc;
	padding: 1ex;
}

#top-urls .rank {
	text-align: right;
	padding-right: 1em;
}

#top-urls .url {
	max-width: 38em;
	overflow: hidden;
	text-overflow: ellipsis;
}

#top-urls .times {
	text-align: center;
}
